.myMusic{
  width: 100%;
  border:1px solid yellow;
}
.myMusic_radio{
  width: 100%;
  height: 80px;
  border:1px solid blue;
}
.myMusic_radio input{
  width: 20px;
  height: 20px;
  margin-left: 30px;
  background-color: red;
}
.myMusic_firstTitle{
  font-size: 40px;
  border:1px solid green;
}
.myMusic_secondTitle{
  font-size: 40px;
  border:1px solid black;
}