.myMusic{
  width: 100%;
}
.myMusic_radio{
  width: 100%;
  height: 40px;
  font-size: 15px;
}
.myMusic_radio input{
  width: 16px;
  height: 16px;
  margin-left: 18px;
  margin-top:12px;
  margin-bottom: 12px;
}
.myMusic_firstTitle{
  font-size: 20px;
  font-weight: bold;
}
.myMusic_secondTitle{
  font-size: 20px;
  font-weight: bold;
}
.myMusic_bottomButton{
  position:fixed;
  width: 100%;
  height: 60px;
  bottom: 0;
  left: 0;
  right: 0;
  border:1px solid rgba(0,0,0,.2);
}
.myMusic_bottomButton{
  display: flex;
  justify-content: space-around;
}
.myMusic_bottomButton div{
  text-align: center;
  line-height: 15px;
  width: 65px;
  color: rgba(0,0,0,.2);
}
.myMusic_bottomButton p{
  margin-top:5px;
}
.myMusic_bottomButton img{
  margin-top:10px;
  width: 20px;
  height: 20px;
}