.TabItem{
  display: none;
}
.TabTittle{
  font-size: 15px;
}
.TabTittleWrap{
  width: 100%;
  height: 45px;
  margin-top:30px;
  text-align: center;
  display: flex;
  justify-content: space-around;
  border-bottom:.5px solid rgba(0, 0, 0, .2)
}
.TabTittleWrap div{
  margin-top:13px;
  width: 110px;
  height: 28px;
}
.TabTittleWrap img{
  width: 25px;
  height: 25px;
  margin-top:-8px;
}
.active{

}
.active:after{
  content: '';
  width: 30%;
  margin-top: 5px;
  margin-left: 35px;
  display: block;
  border:2px solid #ff2064;
}
.TabItemWrap{
  width: 100%;
}
.show{
  width: 100%;
  height: 100px;
  animation: firstframes 1s;
  -webkit-animation: firstframes 1s;
  -moz-animation: firstframes 1s;
}
@keyframes firstframes{
  from { opacity: 0 }
  to { opacity: 1 }
}